![Piggy bank](piggy_bank.jpg)

Personal loans are a lucrative revenue stream for banks. The typical interest rate of a two-year loan in the United Kingdom is [around 10%](https://www.experian.com/blogs/ask-experian/whats-a-good-interest-rate-for-a-personal-loan/). This might not sound like a lot, but in September 2022 alone UK consumers borrowed [around £1.5 billion](https://www.ukfinance.org.uk/system/files/2022-12/Household%20Finance%20Review%202022%20Q3-%20Final.pdf), which would mean approximately £300 million in interest generated by banks over two years!

You have been asked to work with a bank to clean the data they collected as part of a recent marketing campaign, which aimed to get customers to take out a personal loan. They plan to conduct more marketing campaigns going forward so would like you to ensure it conforms to the specific structure and data types that they specify so that they can then use the cleaned data you provide to set up a PostgreSQL database, which will store this campaign's data and allow data from future campaigns to be easily imported.

They have supplied you with a csv file called `"bank_marketing.csv"`, which you will need to clean, reformat, and split the data, saving three final csv files. Specifically, the three files should have the names and contents as outlined below:

## `client.csv`

| column | data type | description | cleaning requirements |
|--------|-----------|-------------|-----------------------|
| `client_id` | `integer` | Client ID | N/A |
| `age` | `integer` | Client's age in years | N/A |
| `job` | `object` | Client's type of job | Change `"."` to `"_"` |
| `marital` | `object` | Client's marital status | N/A |
| `education` | `object` | Client's level of education | Change `"."` to `"_"` and `"unknown"` to `np.NaN` |
| `credit_default` | `bool` | Whether the client's credit is in default | Convert to boolean data type |
| `mortgage` | `bool` | Whether the client has an existing mortgage (housing loan) | Convert to boolean data type |

<br>

## `campaign.csv`

| column | data type | description | cleaning requirements |
|--------|-----------|-------------|-----------------------|
| `client_id` | `integer` | Client ID | N/A |
| `number_contacts` | `integer` | Number of contact attempts to the client in the current campaign | N/A |
| `contact_duration` | `integer` | Last contact duration in seconds | N/A |
| `previous_campaign_contacts` | `integer` | Number of contact attempts to the client in the previous campaign | N/A |
| `previous_outcome` | `bool` | Outcome of the previous campaign | Convert to boolean data type |
| `campaign_outcome` | `bool` | Outcome of the current campaign | Convert to boolean data type |
| `last_contact_date` | `datetime` | Last date the client was contacted | Create from a combination of `day`, `month`, and a newly created `year` column (which should have a value of `2022`); <br> **Format =** `"YYYY-MM-DD"` |

<br>

## `economics.csv`

| column | data type | description | cleaning requirements |
|--------|-----------|-------------|-----------------------|
| `client_id` | `integer` | Client ID | N/A |
| `cons_price_idx` | `float` | Consumer price index (monthly indicator) | N/A |
| `euribor_three_months` | `float` | Euro Interbank Offered Rate (euribor) three-month rate (daily indicator) | N/A |

MORE DETAILS AND INSTRUCTIONS:

Subset, clean, and reformat the bank_marketing.csv dataset to create and store three new files based on the requirements detailed in the notebook.

Split and tidy bank_marketing.csv, storing as three DataFrames called client, campaign, and economics, each containing the columns outlined in the notebook and formatted to the data types listed.

Save the three DataFrames to csv files, without an index, as client.csv, campaign.csv, and economics.csv respectively.

## IMPORTING LIBRARIES

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

## LOADING THE DATASET

In [3]:
# Load the dataset
Bank_dataset = pd.read_csv("bank_marketing.csv")

In [8]:
# Previewing the dataset
Bank_dataset.head()

,client_id,age,job,marital,education,credit_default,mortgage,month,day,contact_duration,number_contacts,previous_campaign_contacts,previous_outcome,cons_price_idx,euribor_three_months,campaign_outcome
0,0,56,housemaid,married,basic.4y,no,no,may,13,261,1,0,nonexistent,93.994,4.857,no
1,1,57,services,married,high.school,unknown,no,may,19,149,1,0,nonexistent,93.994,4.857,no
2,2,37,services,married,high.school,no,yes,may,23,226,1,0,nonexistent,93.994,4.857,no
3,3,40,admin.,married,basic.6y,no,no,may,27,151,1,0,nonexistent,93.994,4.857,no
4,4,56,services,married,high.school,no,no,may,3,307,1,0,nonexistent,93.994,4.857,no

## SUBSETTING DATA FOR EACH REQUIRED FILE

In [9]:
# Subsetting for client.csv
client_columns = ["client_id", "age", "job", "marital", "education", "credit_default", "mortgage"]

In [10]:
# Subsetting for campaign.csv
campaign_columns = ["client_id", "number_contacts", "contact_duration", "previous_campaign_contacts", "previous_outcome", "campaign_outcome", "day", "month"]

In [11]:
# Subsetting for economics.csv
economics_columns = ["client_id", "cons_price_idx", "euribor_three_months"]

In [12]:
# Creating various subsets for the apportioned columns
client = Bank_dataset[client_columns].copy()
campaign = Bank_dataset[campaign_columns].copy()
economics = Bank_dataset[economics_columns].copy()

In [13]:
# Previewing the client subset
client.head()

   client_id  age        job  marital    education credit_default mortgage
0          0   56  housemaid  married     basic.4y             no       no
1          1   57   services  married  high.school        unknown       no
2          2   37   services  married  high.school             no      yes
3          3   40     admin.  married     basic.6y             no       no
4          4   56   services  married  high.school             no       no

In [14]:
# Previewing the campaign subset
campaign.head()

,client_id,number_contacts,contact_duration,previous_campaign_contacts,previous_outcome,campaign_outcome,day,month
0,0,1,261,0,nonexistent,no,13,may
1,1,1,149,0,nonexistent,no,19,may
2,2,1,226,0,nonexistent,no,23,may
3,3,1,151,0,nonexistent,no,27,may
4,4,1,307,0,nonexistent,no,3,may

In [15]:
# Previewing the economics subset
economics.head()

   client_id  cons_price_idx  euribor_three_months
0          0          93.994                 4.857
1          1          93.994                 4.857
2          2          93.994                 4.857
3          3          93.994                 4.857
4          4          93.994                 4.857

## DATA CLEANING FOR EACH FILE

* DATA CLEANING FOR THE CLIENT DATAFRAME
* Cleaning *client.csv* DataFrame
    * Replace "." with "_" in the job column.
    * Change "unknown" values in education to NaN.
    * Convert *credit_default* and mortgage columns to boolean types.

In [16]:
# Clean client DataFrame
client['job'] = client['job'].str.replace(".", "_", regex=False)
client['education'] = client['education'].replace("unknown", np.nan)
client['credit_default'] = client['credit_default'].astype(bool)
client['mortgage'] = client['mortgage'].astype(bool)

In [20]:
client.head()

   client_id  age        job  marital    education  credit_default  mortgage
0          0   56  housemaid  married     basic.4y            True      True
1          1   57   services  married  high.school            True      True
2          2   37   services  married  high.school            True      True
3          3   40     admin_  married     basic.6y            True      True
4          4   56   services  married  high.school            True      True

* DATA CLEANING FOR CAMPAIGN DATAFRAME
* Cleaning *campaign.csv* DataFrame
    * Convert previous_outcome and campaign_outcome columns to boolean types.
    * Create a last_contact_date column by combining day, month, and setting the year as 2022.

In [21]:
# Clean campaign DataFrame
campaign['previous_outcome'] = campaign['previous_outcome'].astype(bool)
campaign['campaign_outcome'] = campaign['campaign_outcome'].astype(bool)

# Create the last_contact_date column
campaign['last_contact_date'] = pd.to_datetime(
    '2022' + campaign['month'] + campaign['day'].astype(str),
    format='%Y%b%d'
)
# Drop the separate day and month columns
campaign.drop(['day', 'month'], axis=1, inplace=True)

In [22]:
campaign.head()

,client_id,number_contacts,contact_duration,previous_campaign_contacts,previous_outcome,campaign_outcome,last_contact_date
0,0,1,261,0,True,True,2022-05-13
1,1,1,149,0,True,True,2022-05-19
2,2,1,226,0,True,True,2022-05-23
3,3,1,151,0,True,True,2022-05-27
4,4,1,307,0,True,True,2022-05-03

## SAVE EACH DATAFRAME TO CSV

In [23]:
client.to_csv("client.csv", index=False)
campaign.to_csv("campaign.csv", index=False)
economics.to_csv("economics.csv", index=False)